body {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
 
.new{
position: relative;
height: 25vh;
 overflow: hidden;
}
.imgNews{
height: 50%;
 overflow: hidden;
}